* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f3e6e3;
}
.appWrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.headerWrap {
  flex: 20%;
  background-color: #776d8a;
}
.contentWrap {
  padding-top: 15px;
  flex: 80%;
  overflow-y: scroll;
  margin: 0 auto;
}
.contentWrap::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
