.history {
  font-size: 18px;
}

td {
  padding: 3px;
}
.string:hover {
  background-color: #776d8a;
  color: #f3e6e3;
}

@media only screen and (max-width: 570px) {
  .history {
    font-size: 16px;
  }
}
